@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Ribeye&family=Roboto:wght@400;500;700&display=swap");
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.nav-list, .locations-list, .offers-list, .news-list, .footer-social-list, .footer-about-list, .footer-other-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-button, .hero-button, .footer-subscribe-button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  background-color: #c9453b;
  color: #ffffff;
  cursor: pointer;
}

.hero-title, .locations-title, .location-title, .offers-title, .offer-title, .news-title, .new-title {
  font-family: "Gelasio", serif;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1600px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    padding: 0;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.menu-button {
  position: absolute;
  right: 0;
  top: 35px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  z-index: 100;
}

.menu-button:hover, .menu-button:focus {
  fill: #c9453b;
}

.menu-button .icon-menu {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.menu-button .icon-cross {
  width: 40px;
  height: 40px;
  fill: #000000;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.header {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-color: #484c5f;
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: 900px;
  }
}

.header-nav {
  padding: 35px 0;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .header-nav {
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    justify-content: space-between;
    margin-bottom: 165px;
  }
}

.logo {
  display: block;
  margin-right: 50px;
  font-family: "Ribeye", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 468px) {
  .logo {
    margin-right: 140px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 210px;
  }
}

.nav-list {
  font-weight: 500;
  line-height: 1.5;
}

.nav-button {
  min-width: 163px;
  max-width: 180px;
  padding: 14px 35px;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
    position: absolute;
    top: -25px;
    right: 0;
    z-index: 5;
    transform: translateY(100%);
    width: 50%;
    padding: 20px;
    text-align: center;
    color: #000000;
    background: rgba(255, 255, 255, 0.782);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.04);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list.is-open {
    display: block;
    transform: translateY(60px);
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    color: #ffffff;
    width: 100%;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-right: 170px;
  }
}

.header-hero {
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .header-hero {
    max-width: 805px;
  }
}

.hero-title {
  text-align: left;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
}

.hero-text {
  max-width: 458px;
  margin-bottom: 40px;
  opacity: 0.6;
}

.hero-button {
  min-width: 187px;
  padding: 17px 46px;
}

.locations {
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .locations {
    padding: 140px 0;
  }
}

.locations-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .locations-title {
    font-size: 43px;
  }
}

.locations-text {
  max-width: 460px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .locations-text {
    max-width: 745px;
    margin-bottom: 50px;
  }
}

.locations-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .locations-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.location-item {
  width: 360px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .location-item:not(:last-child) {
    margin-right: 20px;
  }
}

.location-img {
  margin: 0;
  border-radius: 10px 10px 0px 0px;
}

.location-wrapper {
  padding: 35px 27px 33px;
}

.location-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}

.location-discription {
  text-align: center;
  opacity: 0.6;
}

.offers-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .offers-title {
    font-size: 43px;
  }
}

.offers-text {
  max-width: 656px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .offers-text {
    max-width: 656px;
    margin-bottom: 60px;
  }
}

.offers-list {
  display: flex;
  justify-content: space-between;
}

.offer-item {
  max-width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .offer-item {
    max-width: 262px;
  }
  .offer-item.swiper-slide-active {
    opacity: 0.5;
  }
}

.offer-img {
  max-width: 262px;
  margin: 0;
  border-radius: 10px;
}

.offer-wrapper {
  max-width: 262px;
  padding-top: 20px;
}

.offer-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}

.offer-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.5;
  opacity: 0.6;
}

.country {
  position: relative;
  padding-left: 34px;
}

.country::before {
  content: "";
  background-image: url("../images/geo-icon.svg");
  position: absolute;
  top: 5px;
  left: 0;
  width: 11px;
  height: 15px;
}

.rating {
  position: relative;
  padding-left: 34px;
}

.rating::before {
  content: "";
  background-image: url("../images/Star-icon.svg");
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 24px;
}

.offer-time {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
}

.offer-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

.offer-price span {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
}

.swiper-container.mySwiper {
  position: relative;
  padding-bottom: 62px;
}

.swiper-container.mySwiper .swiper-pagination {
  display: none;
}

@media screen and (min-width: 768px) {
  .swiper-container.mySwiper .swiper-pagination {
    display: block;
  }
}

.swiper-container.mySwiper .swiper-pagination-bullets {
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
}

.swiper-container.mySwiper .swiper-pagination-bullet {
  width: 75px;
  height: 5px;
  border-radius: 10px;
  opacity: 1;
  background: rgba(201, 69, 59, 0.1);
}

.swiper-container.mySwiper .swiper-pagination-bullet-active {
  background: #c9453b;
}

.swiper-container.mySwiper .swiper-button-prev,
.swiper-container.mySwiper .swiper-button-next {
  position: absolute;
  margin-bottom: 0;
  top: auto;
  bottom: 0;
}

.swiper-container.mySwiper .swiper-button-prev:after,
.swiper-container.mySwiper .swiper-button-next:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  bottom: 0;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .swiper-container.mySwiper .swiper-button-prev:after,
  .swiper-container.mySwiper .swiper-button-next:after {
    display: block;
  }
}

.swiper-container.mySwiper .swiper-button-next:after {
  right: 20px;
  background-image: url("../images/arrow-R.svg");
}

@media screen and (min-width: 768px) {
  .swiper-container.mySwiper .swiper-button-next:after {
    right: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-container.mySwiper .swiper-button-next:after {
    right: 350px;
  }
}

.swiper-container.mySwiper .swiper-button-prev:after {
  left: 20px;
  background-image: url("../images/arrow-L.svg");
}

@media screen and (min-width: 768px) {
  .swiper-container.mySwiper .swiper-button-prev:after {
    left: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-container.mySwiper .swiper-button-prev:after {
    left: 350px;
  }
}

.news {
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .news {
    padding: 140px 0;
  }
}

.news-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .news-title {
    font-size: 43px;
  }
}

.news-text {
  max-width: 581px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  opacity: 0.6;
}

.news-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .news-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.new-item-big {
  max-width: 400px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .new-item-big {
    max-width: 554px;
  }
}

@media screen and (min-width: 1200px) {
  .new-item-big {
    margin-bottom: 0;
  }
}

.new-img-big {
  margin-bottom: 35px;
}

.new-discription-big {
  opacity: 0.6;
}

.new-author-big {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.news-list {
  display: flex;
  flex-direction: column;
}

.new-item {
  margin-bottom: 30px;
}

.new-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .new-link {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
  }
}

.new-img {
  width: 263px;
  margin-right: 27px;
}

.new-wrapper {
  width: 263px;
}

.new-title {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.new-discription {
  opacity: 0.6;
}

.new-author {
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  opacity: 0.8;
}

.footer {
  padding: 70px 0 78px 0;
  background: rgba(38, 148, 153, 0.04);
}

.footer-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer-contacts .logo {
  margin-right: 0;
  margin-bottom: 40px;
}

.footer-contacts .contactUs {
  margin-bottom: 10px;
}

.footer-contacts .contactUs-link {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-social-list {
    margin-bottom: 30px;
  }
}

.footer-social-item {
  margin-right: 27px;
}

.footer-about-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 767px) {
  .footer-about-list {
    margin-bottom: 30px;
  }
}

.footer-about-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-other-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 767px) {
  .footer-other-list {
    margin-bottom: 30px;
  }
}

.footer-other-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-subscribe-title {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

.footer-subscribe-inner {
  display: flex;
}

@media screen and (max-width: 468px) {
  .footer-subscribe-inner {
    flex-wrap: wrap;
  }
}

.footer-subscribe-input {
  padding: 10px 20px;
  margin-right: 35px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  background: rgba(38, 147, 153, 0.042);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.015);
}

.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #000;
}

@media screen and (max-width: 468px) {
  .footer-subscribe-input {
    margin-bottom: 20px;
  }
}

.footer-subscribe-button {
  min-width: 103px;
  padding: 10px 32px;
}
/*# sourceMappingURL=main.css.map */