.header {
  width: 100%;
  min-height: 900px;
  background-color: #484c5f;
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $primary-white-color;
}
