.header-hero {
  max-width: 100%;
  @media screen and (min-width: 480px) {
    max-width: 805px;
  }
}

.hero-title {
  @extend %title;
  text-align: left;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 65px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
}

.hero-text {
  max-width: 458px;
  margin-bottom: 40px;
  opacity: 0.6;
}

.hero-button {
  @extend %button;
  min-width: 187px;
  padding: 17px 46px;
}
